.bg_awesome {
    position: relative;
    overflow: hidden;
    background: linear-gradient(-45deg,
            var(--primary),
            var(--secondary),
            var(--primary),
            var(--secondary));
    background-size: 400% 400%;
    animation: bg__gradient 20s ease infinite;
    height: 100vh;
}

@keyframes bg__gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}